* {
  box-sizing: border-box;
  font-family: Palatino;

}
body{
    background-image: url("images/bg-glasses.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: Verdana, sans-serif;
    width: 90%;
    margin: auto;
    margin-top: 2em;
}

.column {
  float: left;
  padding: 10px;
}
.left {
  width: 25%;
  background-color: black;
  opacity: .85;
}
.right {
  width: 75%;
  margin: 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.r-1 {
  width: 65%;
  border-top: 12px solid #d34728;
  font-weight: lighter;
  font-family: Helvetica;
  background-color:#abb5cc;
  opacity: .95;

}
.r-2 {
  width: 35%;
  border-top: 12px solid #d34728;
  border-left: 2px solid #d34728;
  background-color: #abb5cc;
  opacity: .95;
}
.red-bar {
  background-color: #d34728;
  width: 90%;
  height: 1em;
  margin: auto;

}
.nav,
.address,
.google-maps
{
  list-style-type: none;
  text-transform: uppercase;
  color: white;
  line-height: 1.5em;
}
.nav-2 {
  list-style-type:none;
  text-align: center;
  padding-bottom: 1.5em;
  border-bottom: 2px solid #d34728;

}
.nav-2 li{
  margin: 1em 0 1em 0;
  display: inline;

}
.nav-2 a {
  color:white;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}
.nav-2 a:hover {
  color: #d34728;
  text-decoration: underline;
}
.divider {
    font-size: 15px;
    margin-left: .5em;
    margin-right: .5em;

}

.nav a:link,
.google-maps a:link {
    color: white;
    text-decoration: none;
}
.nav a:visited,
.google-maps a:visited{
    text-decoration: none;
    color:white;
}
.nav a:hover,
.google-maps a:hover{
    color: #d34728;
    background-color: transparent;
    text-decoration: none;
}
.nav {
  font-size: 20px;
}
.nav .menu {
  color: #d34728;
  font-size: 40px;
  letter-spacing: 8px;
}
.fa {
  padding: 10px;
  font-size: 23px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.6;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: linear-gradient(to bottom left, #405DE6, #5851D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  color: white;
}

.red-top {
  background-color: #d34728;
  width: 100%;
  height: 1em;
  margin-bottom: -1.3em;
}

.brand-logo {
  height: 13em;
  width: 16em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 1;
}
.nav-2-header {
  text-transform: uppercase;
  font-size: 35px;
}
.nav-2-header a{
  color: black;
  text-decoration: none;
}
.news-container {
  border-bottom: 2px solid #d34728;
  padding-bottom: 2em;
}
.news {
  font-weight: lighter;
  text-align: center;
  font-family: Helvetica;
  text-align: left;
}
.news-header a {
  text-decoration: none;
  color: black;
}
.news-img {
  height: 125px;
  width: 125px;
  margin-right: 1.5em;
  float: left;
}
.news-more {
  text-decoration: none;
  color: black;
}
.news-more:hover,
.nav-2-header a:hover {
  color: #d34728;
}
.double-arrow {
  color: #d34728;;
  font-size: 25px;
  vertical-align: top;
}
.gallery-img {
  height: 175px;
  width: 175px;
  margin-top: 1em;
   margin-left: 1em;
}
.staff-container {
  border-bottom: 2px solid #d34728;
  margin-bottom: 2em;
}
i {
  margin-left: 1em;
  font-weight: bold;
}
.private-dining-img {
  float: right;
  display:inline;
  margin-left: 1.5em;
}
.private-dining-p {
  align: left;
  line-height: 150%;
}
.mySlides {
  display:none;
}
.mySlides img {
  vertical-align: middle;
  width: 100%;
  height: 175px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
  margin-top: 1em;
  opacity: 1;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #d34728;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



/* The grid: Three equal columns that floats next to each other */

.containerTab {
  margin-left: -2em;
  margin-top: -1em;
  color: white;

}
.hours-tab{
  list-style-type: none;
  justify-content: left;
}
.hours-tab li {
  font-size: 13px;
}
#hours  {
  margin-top: -3em;
  padding-bottom: 5em;
  padding-top: -3em;


}
/* Closable button inside the container tab */
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
.reservations-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-left: 2em;

}
.reservations-row {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}
.reservations-submit {
  background-color: #d34728;
  /* border: 1px solid black; */
  color: white;
  font-size: 20px;
  border-style: outset;
}
.mapouter {
  text-align:right;
  height:500px;
  width:600px;
  }
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
  }
